@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color:#CCCCCC;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.container a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}
