@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFDFF;
}

.header{
    min-width: 100vh;
    height: 4rem;
    background-color: #FFB13E;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 3;
    padding: 3px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .logo-img {
    width: 4.1rem;
    height: 3rem;
}

.header .logo {
    font-size: 30px;
    font-weight: bolder;
    margin-right: auto;
}
/*.searchbar {
    border: #FFEDD1 2px solid;
    padding: 3px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin: auto;
    background-color: #FFEDD1;
    color: #E8C898;
}*/

.searchbar {
    margin: auto;
}

.text-input{
    width: 100vh;
    height: 4.5vh;
    background: #FFEDD1;
    border-radius: 80px;
    border: none;
    outline: none;
    text-indent: 15px;
    font-size: 18px;
}

.text-input::placeholder{
    padding-bottom: 5px;
    color: #E8C898;
}

.header .right {
    margin-left: auto;
}

.header i {
    color: white;
    font-size: 1.8rem;
    margin: 0 0.3rem;
    margin-top: 0.5rem;
}

#logout {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 30px;
    margin-right: 2rem;
}

.main {
    display: flex;
}

/*.nav, .feeds, .side {
    border: solid black 1px;
} /*temp border*/

/* CLEAR SETTINGS */

.clear1 {
    flex: 20%;
    background-color: #FBFDFF;
}

.clear2 {
    flex: 15%;
    background-color: #FBFDFF;
}

.clear1 h1, .clear2 h1 {
    color: #FBFDFF;
}


/* NAV SETTINGS */

.nav {
    flex: 10%;
    padding-left: 10px;
    padding-top: 7rem;
    padding-right: 10px;
    top: 7vh;
    position: sticky;
    align-self: flex-start;
    background-color: #ecf6ff;
    height: 95vh;
}
.button a {
    color : #9ACEFF;
    text-decoration: none;
    font-weight: 600;
}

.button-chosen, .button {
    border-radius: 16px;
    width: 15rem;
    height: 2.7rem;
    padding: 6px;
    padding-left: 20px;
    margin-top: 3px;
    font-size: 1.5rem;
    margin: auto;
}


hr {
    margin: 20px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.button-chosen a {
    color : white;
    text-decoration: none;
    font-weight: 600;
}

.button-chosen {
    background-color: #62B4FF;
    box-shadow: 1px 2px #d6d6d6;
}

.button:hover {
    text-decoration: underline;
    text-decoration-color: #62B4FF;
}

/* FEEDS SETTINGS */

.feeds {
    flex: 40%;
    padding: 0 10px;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    background-color: #ffffff;
}

.feeds h1 {
    color:#FFB547 ;
    padding-left: 20px;
}

.feeds iframe {
    height: 450px;
    width: 800px;
}

.feeds-iframe {
    padding-top: 50px;
}

.feed {
    background-color: #c7c7c7;
    height: 30rem;
    width: 27rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5rem;
    border-radius: 10px;
}

.feed-username {
    display: flex;
}

.feed-username i {
    font-size: 3rem;
    color: #00FFA3;
}

.feed-username h3 {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    font-size: 1.2rem;
}

/* SIDE SETTINGS */

.side {
    flex: 15%;
    padding: 3.5rem 15px;
    position: sticky;
    top: 55px;
    align-self: flex-start;
    background-color: #FBFDFF;
}

.side h3 {
    color: #FFB547;
}
.side iframe {
    height: 500px;
}

