@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFDFF;
}

.header{
    min-width: 100vh;
    height: 80px;
    background-color: #FFB13E;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 3;
    padding: 3px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .logo {
    font-size: 30px;
    font-weight: bolder;
    margin-right: auto;
}

.header img {
    display: block;
    width: 3rem;
    margin: 0 0.6rem;
}
/*.searchbar {
    border: #FFEDD1 2px solid;
    padding: 3px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin: auto;
    background-color: #FFEDD1;
    color: #E8C898;
}*/

.searchbar {
    margin: auto;
}

.text-input{
    width: 100vh;
    height: 5vh;
    background: #8A6225;
    border-radius: 80px;
    border: none;
    outline: none;
    text-indent: 5%;
    font-size: 18px;
    background-image: url(../images/searchicon2.png);
    background-repeat: no-repeat;
    background-position: 0.5rem 50%;
}

.text-input::placeholder{
    padding-bottom: 5px;
    color: #fff;
}

.header .right {
    margin-left: auto;
}

.header i {
    color: white;
    font-size: 35px;
    margin: 0 7px;
    margin-top: 3px;
}

#logout {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.main {
    display: flex;
}

/*.nav, .feeds, .side {
    border: solid black 1px;
} /*temp border*/

/* CLEAR SETTINGS */

/*.clear1 {
    flex: 20%;
    background-color: #FBFDFF;
}

.clear2 {
    flex: 15%;
    background-color: #FBFDFF;
}*/

.clear1 h1, .clear2 h1 {
    color: #FBFDFF;
}


/* NAV SETTINGS */

.nav {
    flex: 20%;
    padding-top: 2vh;
    padding-right: 10px;
    top: 15%;
    position: sticky;
    align-self: flex-start;
    background-color: #FBFDFF;
    min-height: 150%;
    margin-right: auto;
}
.button a {
    color : #9ACEFF;
    text-decoration: none;
    font-weight: 600;
}

.button-chosen, .button {
    border-radius: 0 16px 16px 0;
    height: 2.5rem;
    padding: 7px;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    margin-right: auto;
}


hr {
    margin: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button-chosen a {
    color : white;
    text-decoration: none;
    font-weight: 600;
}

.button-chosen {
    background-color: #62B4FF;
    box-shadow: 1px 2px #d6d6d6;
}

.button {
    transition: all;
    transition-duration: 300ms;
}

.button:hover {
    background-color: #d1e7fd;
}

/* FEEDS SETTINGS */

.feeds {
    flex: 60%;
    padding: 0 10px;
    margin-left: 3rem;
    margin-right: 1rem;
    background-color: #FBFDFF;
    padding-bottom: 5rem;
}

.feeds h1 {
    color:#FFB547 ;
    padding-left: 20px;
    margin-top: 20px;
}

.feed-container {
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 6rem;
    width: 70%;
}

/* width */
.feed2::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.feed2::-webkit-scrollbar-track {
    background: #f3f3f3; 
}
   
  /* Handle */
.feed2::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border-radius: 20px; 
}
  
  /* Handle on hover */
.feed2::-webkit-scrollbar-thumb:hover {
    background: #9b9b9b; 
}

.feed-username {
    display: flex;
}

.feed-username i {
    font-size: 2rem;
}

.feed-username p {
    font-size:  1rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}

.feed-title {
    margin-top: 0.5rem;
    font-size: large
}

.feed1 {
    background-color: #000;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 50%;
}

.feed2 {
    background-color: #FFD99F;
    min-height: 15rem;
    max-height: 20rem;
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 10px;
    text-align: justify;
    color: #000000;
    overflow: auto;
}

.feed-likebox {
    background-color: #FFD99F;
    border: none;
    min-width: 25%;
    max-width: 35%;
    height: 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}

.feed-likebox-button {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

.feed-likebox-button {
    font-size: 0.8rem;
    color: #000;
    transition: all;
    transition-duration: 300ms;
}

.feed-likebox-button:hover {
    font-size: 1rem;
}

.feed-likebox-button i {
    margin: 0 0.2rem;
}

.feed-likebox-button .like-box-number {
    margin-right: 0.5rem;
}

/* SIDE SETTINGS */

.side {
    flex: 20%;
    padding: 0 15px;
    min-height: 50%;
    position: sticky;
    top: 15%;
    align-self: flex-start;
    background-color: #FBFDFF;
}

.side h3 {
    color: #FFB547;
}
.side iframe {
    min-height: 500PX
}
