@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

.header{
    min-width: 100vh;
    height: 55px;
    background-color: #FFB13E;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 3;
    padding: 3px;
    align-items: center;
}

.header .logo {
    font-size: 25px;
    font-weight: bolder;
    margin-right: auto;
}
/*.searchbar {
    border: #FFEDD1 2px solid;
    padding: 3px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin: auto;
    background-color: #FFEDD1;
    color: #E8C898;
}*/

.searchbar {
    margin: auto;
}

.text-input{
    width: 600px;
    height: 30px;
    background: #FFEDD1;
    border-radius: 20px;
    border: none;
    outline: none;
}

.text-input::placeholder{
    padding-bottom: 5px;
    padding-left: 10px;
    color: #E8C898;
}

.header .right {
    margin-left: auto;
}

.header i {
    color: white;
    font-size: 30px;
}

.main {
    display: flex;
}

/*.nav, .feeds, .side {
    border: solid black 1px;
} /*temp border*/

/* NAV SETTINGS */

.nav {
    flex: 20%;
    padding-left: 10px;
    padding-top: 30px;
}
.button a {
    color : #FFC267;
    text-decoration: none;
    font-weight: 600;
}

.button-chosen, .button {
    border-radius: 16px;
    width: 200px;
    height: 40px;
    padding: 6px;
    padding-left: 20px;
    margin-top: 3px;
    font-size: 20px;
}
.button-chosen a {
    color : white;
    text-decoration: none;
    font-weight: 600;
}

.button-chosen {
    background-color: #FFC774;
}

.button:hover {
    background-color: #E5E5E5;
}

/* FEEDS SETTINGS */

.feeds {
    flex: 60%;
}

.feeds h1 {
    color:#FFB13E ;
    padding-left: 20px;
}

.feeds iframe {
    min-height: 500vh;
    width: 1000px;
}

.feeds-iframe {
    padding-top: 50px;
}
/* SIDE SETTINGS */

.side {
    flex: 20%;
    padding: 5px 20px;
}

.side h3 {
    color: #FFB13E;
}
.side iframe {
    height: 500px;
}

